@using GameTemplate.Weapons;

@namespace GameTemplate

<root class="with-flex column with-gap with-shadow">
    @{
        if ( Inventory == null ) return;
        int i = 0;
        foreach( var weapon in Inventory.Weapons )
        {
            i++;
            <cell class="@(weapon == Weapon ? "active" : "")">
                <label class="name">@weapon.Name</label>
                <label class="id">Press [@i]</label>
            </cell>
        }
    }
    <cell class="ammo">
        <label class="ammo">20</label>
        <label>/</label>
        <label class="clip">60</label>
    </cell>

    <div class="health-bar" style="width: @(Health)%;"></div>
</root>

@code 
{
    public string Health => $"{Player.Health:F0}";
    public Player Player => Game.LocalPawn as Player;
    public Weapon Weapon => Player?.ActiveWeapon;
    public Inventory Inventory => Player.Inventory;

    protected override int BuildHash()
    {
        return HashCode.Combine( Player?.Health, Weapon );
    }
}