@import "/UI/StyleSheets/_theme.scss";
@import "_chat.scss";
@import "_info.scss";

label {
    font-family: $font-family;
    color: white;
}

iconpanel, icon, i {
    label {
        font-family: MaterialIcons;
    }
    font-weight: 600;
}